body {
    background-color: #e6e6e6;
}

.marco {
    border: 3px solid black;
    margin: 30px;
    padding: 40px;
    background-color: #f5f5f5;
}

.contenido h1 {
    margin-bottom: 40px;
}

#image {
    width: 250px;        /* tamaño inicial correcto */
    height: auto;        /* mantiene proporción */
    opacity: 0.15;       /* efecto tenue */
    transition: all 0.3s ease;
}

h2 {
    margin-top: 30px;
}
